<!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-light fixed-top shadow-sm" style="background-color: #e9e9e9;">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="{{url_for('index.index_page')}}">
            <img src="{{url_for('static', filename='images/logo.png')}}" alt="" height="40" width="40" class="d-inline-block" style="position: relative;top: -3px;">
            Hollywood
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('index.index_page')}}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('actor.actor_list_page')}}">Actor list</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('movie.movie_list')}}">Movie stats</a>
                </li>
            </ul>
        </div>
    </div>
</nav>