{% extends "base.html" %}

{% block metatags %}
<title>100 Timeless Movies With Your Favorite Actors</title>
<meta name="description" content="100 Timeless Movies With Your Favorite Actors">
{% endblock %}

{% block contents %}
    <div class="container mt-5">
        <h2 class="text-center mb-4">100 Timeless Movies With Your Favorite Actors </h2>

        <div class="row">
            <div class="col-md-6">
                <ol>
                    {% for movie in movies %}
                        {% if loop.index <= 50 %}
                            <li>{{ movie.Name }} ({{ movie.Year }}) - ★ {{ movie.Rating }}</li>
                        {% endif %}
                    {% endfor %}
                </ol>
            </div>
            <div class="col-md-6">
                <ol start="51">
                    {% for movie in movies %}
                        {% if loop.index > 50 %}
                            <li>{{ movie.Name }} ({{ movie.Year }}) - ★ {{ movie.Rating }}</li>
                        {% endif %}
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>

{% endblock %}
